<div class="row">
    <h1 class="col-xs-offset-1">{{$storage.bandName}}</h1>
    <div class="col-xs-10">


        <div data-ng-class="homeScreenButtonClass">
            <button class="btn btn-lg btn-info btn-block" data-ng-click="go('itinerary')"><span class="glyphicon glyphicon-calendar"></span> Shows</button>
        </div>
        <div data-ng-class="homeScreenButtonClass">
            <button class="btn btn-lg btn-info btn-block" data-ng-click="go('merch')"><span class="glyphicon glyphicon-th-large"></span> Merch</button>
        </div>
        <div data-ng-class="homeScreenButtonClass">
            <button class="btn btn-lg btn-info btn-block" data-ng-click="go('finances')"><span class="glyphicon glyphicon-usd"></span> Finances</button>
        </div>
        <div data-ng-class="homeScreenButtonClass">
            <button class="btn btn-lg btn-info btn-block" data-ng-click="go('members')"><span class="glyphicon glyphicon-user"></span> Members</button>
        </div>
    </div>
</div>